@font-face {
	font-family: "MuseoSansCyrl_300";
	src: url("../fonts/MuseoSansCyrillic/MuseoSansCyrl_300.otf") format("opentype");
}

@font-face {
	font-family: "MuseoSansCyrl_700";
	src: url("../fonts/MuseoSansCyrillic/MuseoSansCyrl_700.otf") format("opentype");
}

@font-face {
	font-family: "MuseoSansCyrl_900";
	src: url("../fonts/MuseoSansCyrillic/MuseoSansCyrl_900.otf") format("opentype");
}