@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.d{
		display: none;
	}
	.m{
		display: block;
	}
	div.m{
		display: flex;
	}
	.page{
		background: none;
	}
	section{
		padding: 0 25px;
	}
	.main_title{
		padding-top: 30px;
		padding-bottom: 0;
		background-image: url('../img/header_ml.jpg');
		min-height: auto;
		.row{
			width: 100%;
			justify-content: flex-end;
		}
		.buttons{
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
		.green_button{
			margin-bottom: 20px;
		}
		.blue_button{
			margin-bottom: 30px;
			
		}
	}
	.advantages{
		padding-top: 30px;
	}
	.documentation{
		.name{
			font-size: 20px;
		}
	}
	footer{
		background: none;
	}
	.callback{
		align-items: center;
		.content{
			width: 100%;
			padding: 0 35px;
			margin: 0;
		}
		.default_title{
			justify-content: center;
			&::after{
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.contacts{
		padding: 0;
		.content{
			width: 100%;
		}
	}
	.onmap{
		width: 100%;
		height: 200px;
		background-image: url('../img/contacts_bg.jpg');
		background-position: center center;
	}
	.bottom_menu{
		justify-content: center;
		background-color: #EEEEEE;
		.list{
			flex-direction: column;
		}
		.item{
			justify-content: center;
		}
	}
	.default_text, .text{
		width: 100%;
		text-align: center;
		justify-content: center;
	}

	.burger{
		appearance: none;
		margin-bottom: 110px;
		width: 50px;
		height: 25px;
		background: none;
		border: 0;
	}

	.contact_us{
		.dialog{
			height: 550px;
		}
		form{
			>div{
				flex-direction: column;
				align-items: center;
				min-height: 190px;
			}
		}
	}
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
	.main_title {
		h1{
			font-size: 22px;
		}
		.text{
			font-size: 15px;
			line-height: 16px;
		}
	}
	.default_title{
		font-size: 22px;
	}
	.default_text{
		font-size: 16px;
		line-height: 18px;
		
	}

	.advantages{
		.list{
			padding-top: 30px;
		}
	}
	.callback{
		.content{
			padding: 0;
		}

	}	

	.contact_us{
		.close{
			width: 20px;
		}
	}
	#container{
		height: 350px;
	}
	.place_info{
		padding: 0 20px;
		width: 100%;
		top: 140px;
		left: 0;
		.close svg{
			width: 15px;
		}
		.dialog{
			width: 100%;
			height: 100%;
		}
		 .control{
			flex-direction: column;

		}
		 .column {
			align-items: center;
			margin-bottom: 20px;


		}
	}

}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){}
	/**/
