@import "libs";
@import "vars";

* {
	box-sizing: border-box;
	outline: none;
	font-family: 'MuseoSansCyrl_700';
	font-family: 'MuseoSansCyrl_300';
	font-weight: 300;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	min-height: 100%;
}

body {
	opacity: 1;
}
button, a{
	cursor: pointer;
}
div, section, nav, form, footer{
	display: flex;
	position: relative;
}
.m{
	display: none;
}
.page, footer{
	width: 100%;
	height: 100%;
	align-items: center;
	flex-direction: column;
	background-image:  url('../img/header_mask.svg'), url('../img/head_bg.jpg');
	background-size: auto 1000px , auto 900px;
	background-position: center top;
	background-repeat: no-repeat;
}
section{
	background-color: #fff;
	max-width: 1170px;
	width: 100%;
	flex-direction: column;
	align-items: center;
}
.top_menu{
	flex-direction: row;
	justify-content: space-between;
	background: none;
	min-height: 277px;
	padding-top: 25px;
	padding-bottom: 200px;
	.list{
		display: flex;
	}
	.item{
		padding-right: 20px;
		a{
			color: #3088FF;
			font-size: 20px;
			font-family: 'MuseoSansCyrl_700';
		}
	}
}

.main_title{
	padding-bottom: 225px;
	min-height: 666px;
	align-items: flex-start;
	background: none;
	h1{
		font-size: 60px;
		font-family: 'MuseoSansCyrl_700';
	}
	.text{
		line-height: 40px;
		font-size: 25px;
		padding-top: 25px;
		padding-bottom: 50px;
	}
}

.advantages{
	min-height: 930px;
	text-align: center;
	.list{
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}
	.item{
		flex-direction: column;
		align-items: center;
		width: 390px;
		padding: 0 20px 100px;
	}
	.pic{
		height: 100px;
	}
	.name{
		font-size: 25px;
		font-family: 'MuseoSansCyrl_700';
		
	}
}
.types{
	text-align: center;
	.text{
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translateX(-50%);
		font-family: 'MuseoSansCyrl_700';
		font-weight: 500;
		font-size: 25px;		
	}
}

.map{
	text-align: center;
	.zoom {
		width: 150px;
		padding-bottom: 20px;
		justify-content: space-between;
		& > div{
			cursor: pointer;
			color: #fff;
			border-radius: 50%;
			background-color: #F2994A;
			width: 50px;
			height: 50px;
			justify-content: center;
			align-items: center;
			font-size: 23px;
			font-weight: 700;
		}
		
	}
	.default_button{
		margin-top: 40px;
		margin-bottom: 15px;
		width: 270px;
		height: 70px;
	}
}

.documentation{
	padding-top: 100px;
	position: relative;
	.name{
		position: absolute;
		top: 180px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 20px;
		white-space: nowrap;
		font-family: 'MuseoSansCyrl_700';
	}
}
.info{
	padding-top: 50px;
	
	text-align: left;
	align-items: flex-start;
	font-size: 25px;
	p{
		max-width: 1100px;
	}
}

footer{
	background-image: url('../img/footer.jpg');
}

.callback{
	height: 940px;
	padding-top: 280px;
	align-items: flex-end;
	background: none;
	.content{
		width: 470px;
		flex-direction: column;
		margin-right: 100px;
	}
	.default_title{
		&::after{
			left: 0;
			transform: translateX(0)
		}
	}
	.text{
		font-size: 25px;
		width: auto;
		padding-bottom: 60px;
	}
	form{
		flex-direction: column;
	}
	input{
		width: 100%;
		height: 65px;
		margin-bottom: 30px;
	}
	.default_button{
		width: 100%;
		height: 70px;
	}
}

.contacts{
	height: 460px;
	align-items: flex-end;
	justify-content: center;
	background: none;
	.content{
		width: 570px;
		height: 318px;
		background-color: #fff;
		justify-content: center;
		align-items: center;		
		flex-direction: column;
	}
	p{
		font-family: 'MuseoSansCyrl_700';
		font-size: 20px;
		height: 40px;
	}
}

.bottom_menu{
	height: 180px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.item{
		padding-right: 20px;
		
	}
	a{
		font-size: 20px;
		font-family: 'MuseoSansCyrl_700';
	}
}




.adaptiv_list{
	width: 100%;
	justify-content: space-between;
	.item{
		max-width: 390px;
		flex: 1;
	}
	.pic{
		width: 100%;
	}
	svg{
		width: 100%;
	}
}
.default_title{
	position: relative;
	font-size: 40px;
	font-family: 'MuseoSansCyrl_900';

	padding-bottom: 46px;
	&::after{
		content: '';
		position: absolute;
		bottom: 20px;
		left: 50%;
		width: 153px;
		height: 4px;	
		background: #3088FF;	
		transform: translateX(-50%)
	}
}
.default_text_input{
	appearance: none;
	font-size: 25px;
	text-align: center;
	height: 65px;
	border: 2px solid #3088FF;
	border-radius: 90px;
}
.default_text{
	line-height: 40px;
	font-size: 25px;
	width: 750px;
	height: 150px;
	justify-content: center;
}
.default_button{
	appearance: none;
	box-shadow: none;
	outline: none;
	border-radius: 100px;
	border: 0px;
	width: 250px;
	height: 52px;

	color: #fff;
	font-size: 20px;
	font-family: 'MuseoSansCyrl_700';
	text-align: center;
}
.green_button{
	background: #19C84A;
	box-shadow: 0px 24px 26px -21px #19C84A;
}
.blue_button{
	background: #3088FF;	
	box-shadow: 0px 24px 26px -21px #3088FF;
	
}
.no_after::after{
	content: none;
}


.slider{
	width: 100%;
	
	.slide{
		display: flex;
		width: calc(100% / 3)
	}
	.pic{
		
		align-items: center;
		justify-content: center;
	}
	svg{
		max-width: 250px;
		height: 300px;
	}
}

.slideout-menu {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
	width: 256px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: none;

	.list{
		flex-direction: column;
	}
	.item{
		padding-left: 20px;
		a{
			font-size: 22px;
			line-height: 35px;
		}
	}
  }
  .slideout-panel {
	position: relative;
	z-index: 1;
	will-change: transform;
  }
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
	overflow: hidden;
  }
  .slideout-open .slideout-menu {
	display: block;
  }

  
  #container{
	height: 700px;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.field{
	width: 4000px;
	height: 1150px;

	position: absolute;

	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	transition: width .6s ease, height .6s ease;
	
}
#map{
	/* width: 2000px;
	height: 575px; */
	position: absolute;
	top: 20%;
	left: 20%;
	transition: all .6s ease;
	/* transition: width .6s ease, height .6s ease; */
	/* transform: translateY(-50%) translateX(-50%) */
}
#map .pic ,#map img{
	width: 100%;
}
.overlay{
	position: absolute;
	z-index: 40;
	width: 100%;
	height: 100%;		
}
.overlay div{
	position: absolute;
	/* background: rebeccapurple;
	border: 3px solid #000;
	opacity: .4; */
	cursor: pointer;
}

.place_bluegroup_01{
	top: 5.8%;
	left: 2.6%;
	width: 6.4%;
	height: 58%;
}
.place_bluegroup_02{
	top: 36%;
	height: 27%;
	left: 66.6%;
	width: 16%;
}
.place_bluegroup_03{
	top: 5.8%;
	height: 43%;
	left: 50.6%;
	width: 16%;
}
/* row1 group1 */
.row1{
	top: 5.8%;
	height: 13%;
}
.place_w_141{
	left: 9.2%;
	width: 2%;
}
.place_w_139{
	left: 11.2%;
	width: 2%;
}			
.place_w_137{
	left: 13.2%;
	width: 2%;
}
.place_w_135{
	left: 15.2%;
	width: 2%;
}
.place_w_133{
	left: 17.2%;
	width: 2%;
}
.place_w_131{
	left: 19.2%;
	width: 2%;
}
.place_w_129{
	left: 21.2%;
	width: 2%;
}
.place_w_127{
	left: 23.2%;
	width: 2%;
}
/* _ */
.place_w_125{
	left: 25.4%;
	width: 2%;
}			
.place_w_123{
	left: 27.4%;
	width: 2%;
}
.place_w_121{
	left: 29.4%;
	width: 2%;
}
.place_w_119{
	left: 31.4%;
	width: 2%;
}
.place_w_117{
	left: 33.4%;
	width: 2%;
}
.place_w_115{
	left: 35.4%;
	width: 2%;
}
.place_w_113{
	left: 37.4%;
	width: 2%;
}
.place_w_111{
	left: 39.4%;
	width: 2%;
}
/* row2 group1 (dublicate of row1) */
.row2{
	top: 36%;
	height: 13%;
}			
/* row3 group1 ( row1 x2 ) */
.row3{
	top: 50%;
	height: 13%;
}
.place_w_7{
	left: 9.2%;
	width: 4%;
}
.place_w_9{
	left: 13.2%;
	width: 4%;
}
.place_w_11{
	left: 17.2%;
	width: 4%;
}
.place_w_13{
	left: 21.2%;
	width: 4%;
}
.place_w_15{
	left: 25.2%;
	width: 4%;
}
.place_w_17{
	left: 29.2%;
	width: 4%;
}
.place_w_19{
	left: 33.2%;
	width: 4%;
}
.place_w_21{
	left: 37.2%;
	width: 4%;
}
/* row4  */
.row4{
	top: 81%;
	height: 13%;
}
.place_w_6{
	left: 5.2%;
	width: 4%;
}
.place_w_8{
	left: 9.2%;
	width: 4%;
}
.place_w_10{
	left: 13.2%;
	width: 4%;
}
.place_w_12{
	left: 17.2%;
	width: 4%;
}
.place_w_14{
	left: 21.2%;
	width: 4%;
}
.place_w_16{
	left: 25.3%;
	width: 4%;
}
.place_w_18{
	left: 29.3%;
	width: 4%;
}
.place_w_20{
	left: 33.3%;
	width: 4%;
}
.place_w_22{
	left: 37.3%;
	width: 4%;
}
.place_b_23_24{
	left: 41.5%;
	width: 4.5%;
}

.place_w_26{
	left: 46.5%;
	width: 3.6%;
}
.place_b_28_30{
	left: 50.9%;
	width: 5.5%;
}
.place_b_32_36{
	left: 56.8%;
	width: 5.5%;
}
/* _ */
.place_w_38{
	left: 62.6%;
	width: 2%;
}
.place_w_40{
	left: 64.6%;
	width: 2%;
}
.place_w_42{
	left: 66.6%;
	width: 2%;
}
.place_w_44{
	left: 68.6%;
	width: 2%;
}
.place_w_46{
	left: 70.6%;
	width: 2%;
}
.place_w_48{
	left: 72.6%;
	width: 2%;
}
/* _ */
.place_w_50{
	left: 74.8%;
	width: 2%;
}
.place_w_52{
	left: 76.8%;
	width: 2%;
}
.place_w_54{
	left: 78.8%;
	width: 2%;
}
.place_w_56{
	left: 80.8%;
	width: 2%;
}
.place_w_58{
	left: 82.8%;
	width: 2%;
}
.place_w_60{
	left: 84.8%;
	width: 2%;
}
.place_w_62{
	left: 86.8%;
	width: 2%;
}
.place_w_64{
	left: 88.8%;
	width: 2%;
}
.place_w_66{
	left: 90.8%;
	width: 2%;
}

/* row3 group2  */

.place_b_63_67{
	left: 88.8%;
	width: 6%;
}
.place_b_57_61{
	left: 82.8%;
	width: 6%;
}
.place_b_33_39{
	left: 58.6%;
	width: 8%;
}
.place_b_25_31{
	left: 46.6%;
	width: 11.7%;
}
.place_w_101{
	left: 46.6%;
	width: 4%;
}

/* row1 group2 */
.place_b_69_73{
	left: 88.8%;
	width: 6%;
}
.place_b_75_79{
	left: 82.8%;
	width: 6%;
}
/* _ */
.place_b_81_83{
	left: 78.8%;
	width: 4%;
}
.place_b_85_87{
	left: 74.8%;
	width: 4%;
}
.place_b_89_91{
	left: 70.7%;
	width: 4%;
}
.place_b_93_95{
	left: 66.6%;
	width: 4%;
}

.popup_overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 609;

	background: rgba(100, 100, 100, 0.5);
}
.contact_us{
	display: none;
	position: absolute;
	left: 50%;
	top: 100px;
	transform: translateX(-50%);
	z-index: 610;
	width: 100%;
	justify-content: center;

	.close{
		position: absolute;
		cursor: pointer;
		z-index: 90;
		top: 20px;
		right: 20px;
		font-size: 50px;
		width: 40px;
	}
	.dialog{
		display: flex;
		max-width: 1188px;
		width: 100%;

		height: 400px;
		background: #F4F4F4;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
		background-image: url('../img/contact_us.jpg')
	}
	.content{
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding-top: 35px;
	}
	form{
		width: 100%;

		flex-direction: column;
		align-items: center;
		>div{
			width: 100%;
			min-height: 55px;
			justify-content: space-between;
			margin: 50px 100px 70px;
		}
	}
	label{
		display: none;
	}
	input, button{
		font-size: 20px;
		width: 290px;
		height: 55px;
	}
	input{
		border: 2px solid #C8C8C8;
	}

}

.place_info_cont, .popup_container{
	position: relative;
	width: 100%;
}
.place_info{
	position: absolute;
	left: 50px;
	top: 270px;
	z-index: 60;
}
.place_info .close{
	position: absolute;
	cursor: pointer;
	z-index: 90;
	top: 20px;
	right: 20px;
	font-size: 50px;
}
.place_info .dialog{
	display: none;
	width: 380px;
	height: 420px;
	background: #F4F4F4;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.place_info .content{
	flex-direction: column;
	width: 100%;
	padding: 38px 33px;
	text-align: left;
}
.place_info .list{
	flex-direction: column;
	padding-bottom: 40px;
}
.place_info .item{
	padding-bottom: 3px;
}
.place_info .control{
	justify-content: space-between;
}
.place_info .price{
	font-size: 18px;
	font-family: 'MuseoSansCyrl_900';
	color: #19C84A;
	padding-bottom: 5px;
}
.place_info .price_bay{
	color: #3088FF;
}
.place_info .column{
	flex-direction: column;
}
.place_info .default_button{
	width: 150px;
	height: 35px;
	font-size: 10px;
	font-family: 'MuseoSansCyrl_700';
}
.place_info svg{
	width: 25px;
}
#pi_title{
	font-size: 18px;
	font-family: 'MuseoSansCyrl_900';
}
#pi_deskr{
	padding-top: 20px;
	padding-bottom: 15px;
}

@import "media"; // Всегда в конце
